@layer components {
  ul.listDivider {
    &__cols1 {
      @apply gap-x-[1.6em];

      display: flex;
      position: relative;

      > li {
        position: relative;

        &:first-child:after {
          content: none;
        }
        &:after {
          content: '';
          position: absolute;
          width: 3px;
          height: 3px;
          left: -0.8em;
          top: 50%;
          transform: translate(-50%, -50%);
          background-color: currentColor;
        }
      }
    }
  }
}
